.App {
  text-align: center;
}

a {
  margin: 5px;
}

label {
  display: block
} 


.todo {
  border: solid 3px black;
  border-radius: 40px;
  width: 30%;
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.todo:hover {
  background-color: rgb(122, 224, 255);
}

.completed {
  text-decoration: line-through;
}